/* RGB: 255, 204, 204 HEX/HTML: FFCCCC CMYK: 0, 19, 0, 0
RGB: 255, 106, 98 HEX/HTML: FF6A62 CMYK: 0, 58, 41, 0
RGB: 0, 27, 112 HEX/HTML: 001B70 CMYK: 100, 86, 0, 35 */


h1 {
  font-size: 31px;
  text-align: center;
  color: #FF6A62;
  font-family: 'Work Sans', sans-serif;
  font-size: 43px;
  font-weight: 700;
  margin: 0;
}

p {
  font-size: 24px;
  text-align: center;
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  font-weight: 300;
}

.publicacion {
  border: 3px;
  border-radius: 5px;
  background-color: rgba(255, 204, 204, 0.5);
  padding: 25px;
  max-width: 400px;
  width: auto;
  max-height: 700px;
  height: auto;
}

.cabecera {
  border: 3px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 106, 98, 0.3);
  margin: 15px auto;
  padding: 15px 20px;
}

.publicacion-description {
  background-color: rgb(0, 27, 112);
  padding: 15px;
  border: 2px;
  border-radius: 3px;
  border-color: black;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
}
